<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10 row">
      <div id="accordion" class="">
        <% @latest_news.each do |news| %>
          <h2><%= news.title %><span class='pull-right'>Published On:<%= news.published_on %></span></h2>
          <div style="background:#ccc;">
            <p><%= news.content%></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<script type="text/javascript">
  $( "#accordion" ).accordion();
</script>