<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student_category.name %>
</p>

<%= link_to 'Edit', edit_student_category_path(@student_category) %> |
<%= link_to 'Back', student_categories_path %>
